<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>编号</td>
        <td>邮箱</td>
        <td>生日</td>
        <td>性别</td>
        <td>登录次数</td>
        <td>上次登录时间</td>
        <td>修改</td>
        <td>删除</td>
    </tr>
    <tr th:each="user : *{users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.loginCount}"></td>
        <td th:text="${user.lastLoginTime}"></td>
        <td><a th:href="@{toUpdate(id=${user.id})}">修改</a></td>
        <td><a th:href="@{delete(id=${user.id})}">删除</a></td>
    </tr>
</table>
<a href="toAddUser"><button>添加新用户</button></a>

</body>
</html>